@import url("https://fonts.googleapis.com/css?family=Roboto|Shrikhand");

html {
  font-size: 18px;
  color: #333;
  text-align: center;
  font-family: "Roboto", courier, serif;
}

body, h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 4em;
  font-family: Shrikhand, courier, serif;
}

header {
  padding: 0 0 0.5em 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

button, a, input {
  min-height: 45px;
  min-width: 45px;
}

a {
  text-decoration: none;
  color: #C03221;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 50%;
}

table {
  margin: 0.25em auto;
}

#canvas {
  border-collapse: collapse;
}

#canvas td {
  width: 1em;
  height: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: crosshair;
}

#rVal, #gVal, #bVal {
  font-weight: bold;
}

#rVal {
  color: rgb(255, 0, 0);
}
#gVal {
  color: rgb(0, 255, 0);
}
#bVal {
  color: rgb(0, 0, 255);
}

#swatch {
  margin: 0.5em auto;
  max-width: 60%;
  min-height: 4em;
  border-radius: 15px;
  border: 5px inset #fff;
}

.numBox {
  border-radius: 5px;
  text-align: center;
  font-size: 1.25em;
  border: 1px solid #C03221;
}

.btn {
  background-color: #C03221;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #9E291C;
}

.hidden {
  display: none;
}

/*
 *
 * LAYOUT STARTS HERE
 *
*/

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

#inputArea, #canvasArea {
  margin: 1em;
}

#inputArea {
  max-width: 100%;
  padding: 2em;
  background-color: #E8E8E8;
  border-radius: 15px;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.3);
}

#canvasArea {
}
